<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!--카메라 사용하기 위한 권한 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--사진 접근 권한 -->
    <!--API 버전에 따라 다른 권한을 요청하기 위해 2개 다 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- 사진 촬영 후 저장하기 위한 권한
     API Level 29부터는 Scoped Storage 정책 때문에 의미 없는 권한이라 28까지만 해당 권한이 필요하도록 코드를 작성-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".Zziririt"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ziririt"
        tools:targetApi="31">

        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"></activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>